:root {
    --navbar-primary: black;
}

html, body {
    background: radial-gradient(circle, rgba(62,78,156,1) 0%, rgba(105,19,36,1) 100%);
    color: white;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25vh 0 0.25vh 0;
    border: 0;
    margin: 0 0 1vh 0;
    min-height: max(4vh, 2rem);
    background-color: var(--navbar-primary);
    border-bottom: 0.25vh solid #ffffff;
}

h1 {
    color:gold;
    text-align: center;
    padding: 0;
    border: 0;
    margin: 0;
}

main {
    min-height: 87vh;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vh 3vw 2vh 3vw;
    background-color: beige;
    color: black;
    border: 0.25rem solid white;
    border-radius: 1rem;
}

article h2 {
    padding: 0.25rem;
    margin: 0.25rem;
}

#links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.card {
    min-width: 100px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: beige;
    flex: 3;
    width: 6rem;
    height: 10rem;
    border: 0.5rem;
    border-color: purple;
    border-radius: 1rem;
    border-style: solid;
    padding: 0.25rem;
    flex-grow: 0;
    text-decoration: none;
    margin: 0.5vh 0.5vw

}

.card i {
    display: block;
    text-align: center;
    flex: 1;
    font-size: 5rem;
    padding: 0rem;
    border: 0rem;
    
}

.card p {
    flex: 1;
    text-align: center;
    text-wrap: wrap;
    padding: 0rem;
    border: 0rem;
}

#css3-alt {
    background-color: white;
    color: #264de4;
    border-color: #264de4;
}

#bootstrap {
    background-color: #ffffff;
    color: #563d7c;
    border-color: #563d7c;
}

#react {
    background-color: black;
    color: #61DBFB;
    border-color: #61DBFB;;
}

#user-tie{
    background-color: #eeeeee;
    color: #555555;
    border-color: #555555;
}

footer {
    display: flex;
    width: 100%;
    min-height: max(4vh, 2rem);
    background-color: var(--navbar-primary);
    padding: 0;
    border: 0;
    border-top: #ffffff 0.25vh solid;
    margin: 0.25vh, 0, 0, 0;
}

#social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.social-card {
    flex: 1;
    width: 1rem;
    height: 1rem;
    border: 0.05rem;
    border-color: purple;
    border-radius: 1rem;
    border-style: solid;
    padding: 0.25rem;
    flex-grow: 0;
    text-decoration: none;

}

#github {
    background-color: white;
    color: #24292e;
    border-color: #24292e;
}

#linkedin {
    background-color: white;
    color: #0a66c2;
    border-color: #0a66c2;
}

#facebook {
    background-color: white;
    color: #1877F2;
    border-color: #1877F2;
}

#x-twitter {
    color: white;
    background-color: black;
    border-color: white;
}